.app-bg{
    background-image: url("../storage/images/bg-color.jpg");
    background-size: contain;
}

.menu-bg{
    background-color: #F0BB62;
}

.icon-img{
    font-size: 14rem;
}

@media (max-width: 576px) {
    .icon-img{
        font-size: 7rem;
    }
}

